<script src="/javascripts/jquery_validation.js"></script>
<script>
    var t = jQuery.noConflict();
    
    t().ready(function () {
        cargarPaises();
        // validate signup form on keyup and submit
        t("#formulario").validate({
            rules: {
                nombre: {
                    required: true,
                    minlength: 3                    
                }, 
                fecha: {
                    required: true,
                    date : true
                },
                marca: {required: true},
                pais: {required: true},
                cantidad: {
                    required: true,
                    digits: true                    
                }, 
                precio: {
                    required: true,
                    number: true                    
                }
                
            },
            messages: {
                nombre: {
                    required: "Ingrese el nombre del vino",
                    minlength: "Minimo 2 caracteres"
                }
            }
        });        
    });
    
    function cargarPaises() {
        var url = "https://restcountries.eu/rest/v2/all";
        t.ajax({
            url: url,
            type: 'GET',
            dataType: 'JSON',
            success: function (data, textStatus, jqXHR) {
                //console.log(data);
                var html = "<option value=''>Seleccione un pais</option>";
                t.each(data, function(i, item) {
                    //console.log(item.name);                    
                    html += '<option value = "'+item.name+'">'+item.name+'</option>';
                    
                });
                t("#pais").html(html);
                t("#pais").val("<%= vino.pais %>");
            }, 
            error: function (jqXHR, textStatus, errorThrown) {
                                        
            }
        });
    }
</script>
<header>
    <h2><%= titulo %></h2>
</header>
<div class="box">
    <div class="row">
        <%- locals.flash %>
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <form id="formulario" method="POST" action="/maria/administrar/vino/modificar">
                    <input type="hidden" name="external" value="<%= vino.external_id %>"/>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="marcaHelp" placeholder="Ingrese el nombre" value="<%= vino.nombre %>">
                        <small id="marcaHelp" class="form-text text-muted">Marca del vino.</small>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <input type="date" class="form-control" name="fecha" aria-describedby="fechaHelp" placeholder="Ingrese la fecha" value="<%= vino.fecha_creacion %>">
                        <small id="fechHelp" class="form-text text-muted">Fecha del vino.</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select name="tipo" id="tipo">
                            <option value="blanco" <%= (vino.tipo == 'blanco') ? 'selected' : '' %> >Blanco</option>
                            <option value="tinto" <%= (vino.tipo == 'tinto') ? 'selected' : '' %>>Tinto</option>
                            <option value="espumoso" <%= (vino.tipo == 'espumoso') ? 'selected' : '' %>>Espumoso</option>
                        </select>
                        <small id="tipoHelp" class="form-text text-muted">Tipo del vino.</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="marca">Marca</label>
                        <select name="marca" id="marca">
                            <% marcas.forEach(function(marca, i) { %>
                            <% if (vino.id_marca == marca.id) { %>
                            <option value="<%= marca.id %>" selected><%= marca.nombre %></option>
                            <% } else { %>                                
                            <option value="<%= marca.id %>" ><%= marca.nombre %></option>
                            <% } %>
                            <% }); %>
                        </select>
                        <small id="marcaHelp" class="form-text text-muted">Marca del vino.</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="pais">Pais</label>
                        <select name="pais" id="pais">                            
                        </select>
                        <small id="paisHelp" class="form-text text-muted">Pais del vino.</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="cantidad">cantidad</label>
                        <input type="number" class="form-control" name="cant" aria-describedby="cantHelp" placeholder="Ingrese la cantidda" min="0" max="100" value="<%= vino.cantidad %>">
                        <small id="cantHelp" class="form-text text-muted">Cantidad del vino.</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="text" class="form-control" name="precio" aria-describedby="precioHelp" placeholder="Ingrese el precio" value="<%= vino.precio %>">
                        <small id="precioHelp" class="form-text text-muted">Precio del vino.</small>
                    </div>
                                        
                    
                    <div class="modal-footer">
                        <a href="/maria/administrar/vino" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
