<header>
    <h2><%= titulo %></h2>
</header>
<div class="box">
    <div class="row" style="margin-bottom: 55px;">
        <a href="/maria/administrar/vino/registro" class="button">NUEVO</a>
    </div>
    <div class="row">
        <%- locals.flash %>
        <table>
            <thead>
                <tr>
                    <th>Nro</th><th>Foto</th><th>Nombre</th><th>Pais</th><th>Marca</th><th>Fecha</th><th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% lista.forEach(function(vino, i) { %>
                <tr>
                    <td><%= (i+1) %></td>
                    <td><img class="rounded" src="/img/<%= vino.foto %>" width="100"/></td>
                    <td><%= vino.nombre %></td>
                    <td><%= vino.pais %></td>
                    <td><%= vino.marca.nombre %></td>
                    <td><%= vino.fecha_creacion %></td>
                    <td>
                        <a href="/maria/administrar/vino/modificar/<%= vino.external_id %>" class="btn btn-error" >Editar</a>                        
                        <a href="/maria/administrar/vino/foto/<%= vino.external_id %>" class="btn btn-error" >Cargar foto</a>                        
                    </td>
                </tr>                    
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
